.pulse-button {
    background-color: hsl(46, 84%, 48%);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.pulse-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 72, 0, 0.582); 
}
.pulse-button:active {
    transform: scale(0.98);
}

.transition-hover:hover {
    color: #fff !important; /* Brighter white on hover */
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.bg-deep-dark {
    background-color: #1a1a2e; 
    color: #f0f0f0;
}

.text-system-light {
    color: #00e676; 
}

.footer-link-group {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer-link-group:last-child {
    border-right: none;
}

.transition-hover:hover {
    color: #fff !important;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 767.98px) {
    .footer-link-group {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    .footer-link-group:last-child {
        border-bottom: none;
    }
}