body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    color: white;
}

.pulse-button {
    background-color: hsl(46, 84%, 48%);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pulse-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 72, 0, 0.582);
}

.pulse-button:active {
    transform: scale(0.98);
}

.slide-button {
    padding: 12px 25px;
    border: 2px solid #e2850a;
    color: #be620bd2;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

.slide-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9100;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.slide-button:hover {
    color: white;
}

.slide-button:hover::before {
    transform: translateX(0);
}

.transition-hover:hover {
    color: #fff !important;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.press-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease;
    box-shadow: 0 4px 0 0 #b30000;
}

.press-button:hover {
    background-color: #0069d9;
}

.press-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 0 #0056b3;
}

.bg-deep-dark {
    background-color: #1a1a2e;
    color: #f0f0f0;
}

.text-system-light {
    color: #00e676;
}

.footer-link-group {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer-link-group:last-child {
    border-right: none;
}

.transition-hover:hover {
    color: #fff !important;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 767.98px) {
    .footer-link-group {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .footer-link-group:last-child {
        border-bottom: none;
    }
}
